<!-- index.html -->
{% extends "layout.html" %}

  {% block content %}

    {% include "partials/carousel.html" %}

    <section class="row text-center">
      <div class="col-xs-6 col-md-3">
        <div class="bg-primary feature"><span class="fa fa-3x fa-check-square-o" aria-hidden="true"></span></div>
        <h5>Chose a service</h5>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="bg-primary feature"><span class="fa fa-3x fa-pencil-square-o" aria-hidden="true"></span></div>
        <h5>Personalise your photos</h5>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="bg-primary feature"><span class="fa fa-3x fa-lock" aria-hidden="true"></span></div>
        <h5>Checkout securely</h5>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="bg-primary feature"><span class="fa fa-3x fa-car" aria-hidden="true"></span></div>
        <h5>Delivery to you direct</h5>
      </div>
    </section>

    <section class="row text-center">
      <div class="col-xs-12">
        <div class="row">
          <h3 class="title">Your Favourite</h3>
          <hr>
          <div class="col-xs-6 col-md-3">
            <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
            <h6 class="service-name">Service Name</h6>
          </div>
          <div class="col-xs-6 col-md-3">
            <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
            <h6 class="service-name">Service Name</h6>
          </div>
          <div class="col-xs-6 col-md-3">
            <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
            <h6 class="service-name">Service Name</h6>
          </div>
          <div class="col-xs-6 col-md-3">
            <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
            <h6 class="service-name">Service Name</h6>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-6 col-md-3">
            <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
            <h6 class="service-name">Service Name</h6>
          </div>
          <div class="col-xs-6 col-md-3">
            <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
            <h6 class="service-name">Service Name</h6>
          </div>
          <div class="col-xs-6 col-md-3">
            <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
            <h6 class="service-name">Service Name</h6>
          </div>
          <div class="col-xs-6 col-md-3">
            <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
            <h6 class="service-name">Service Name</h6>
          </div>
        </div>
      </div>
    </section>

    <section class="row">
      <div class="col-xs-12">
        <h3 class="text-center">About Us</h3>
        <hr>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dicta quo recusandae error inventore dolore et deleniti quisquam odit aliquid, quidem libero consequatur at sit eum magnam tempore aperiam similique.</p>
      </div>
    </section>

    <section class="row">
      <h3 class="text-center">Customer Experience</h3>
      <hr>
      <div class="col-md-2 col-md-offset-4"><img src="http://placehold.it/100" alt="" class="img-responsive img-circle img-thumbnail center-block"></div>
      <div class="col-md-5 "><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae numquam quod neque distinctio voluptatibus hic quia asperiores nulla ea reiciendis ut animi ullam ad, perspiciatis nesciunt soluta placeat facere, iusto!</p></div>
    </section>
  {% endblock %}
